<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Maxim Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/assets/img/favicon.png" rel="icon">
  <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Maxim
  * Template URL: https://bootstrapmade.com/maxim-free-onepage-bootstrap-theme/
  * Updated: Mar 17 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-between">

      <div class="logo">
        <h1><a href="/"><img src="/static/image/img3.png" width="100" height="100">AgedWell</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="/static/assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">HOME</a></li>



          <li><a class="nav-link scrollto" href="admin_view_food_request">FOOD REQUEST</a></li>
          <li><a class="nav-link scrollto" href="admin_add_article">ARTICLE</a></li>
          
          <li><a class="nav-link scrollto" href="view_appointment">APPOINTMENT</a></li>
          <li class="dropdown"><a href="#"><span>DONATION</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="donation_detail">In-Kind Donation</a></li>
              <li><a href="admin_view_donationamount">Monetary Donation</a></li>
              <ul>
              </ul>
          </li>
        </ul>
        </li>
        <li class="dropdown"><a href="#"><span>VIDEO</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="add_class_video">Class</a></li>
            <li><a href="add_demo_video">Demo</a></li>
            <ul>
            </ul>
        </li>
        </ul>
        </li>
        <li class="dropdown"><a href="#"><span>VOLUNTEER</span> <i class="bi bi-chevron-down"></i> </a>
          <ul>
            <li><a href="view_volunteer">Volunteer</a></li>
            <!-- <li><a href="volunteer_requirement">VOLUNTEER REQUIREMENTS</a></li> -->
          </ul>
          <li class="dropdown"><a href="#"><span>REQUIREMENTS</span> <i class="bi bi-chevron-down"></i> </a>
            <ul>
              <li><a href="volunteer_requirement">Volunteer Requirement</a></li>
              <li><a href="donor_requirement">Donor Requirement</a></li>
            </ul>
        <li><a href="/">LOG OUT</a></li>

        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->